*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
:root{
    --Darkblue:#0e3a66 
}

body{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}
body{
    background-image: url(https://izkorimagescdn.azureedge.net/design/site/banner-text.png);
}

header{
    height: 12vh;
    background-color: var(--Darkblue);
}

header ul{
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
}

header ul li{
    list-style: none;
    padding: 10px 20px;
    font-size: 20px;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 5px 7px;
}

.activeLink {
    background: #0e3a66;
    border: 4px solid white;
    border-radius: 15px;
}

.activeLink:hover{
    background-color: darkgoldenrod;
}

.bjVideo {
    display: flex;
    justify-content: center;
    width: 100%;    
}

h1{
    text-align: center;
}

.firstTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.roniImage{
    width: 400px;
    height: auto;
    padding: 5px 5px;
    transition: 0.8s;

}
.roniImage:hover{
    width: 500px;

}

#titleDive{
    margin-top: 1%;
    width: 100%;
    height: 15vh;
    background-color: darkgray;
    text-align: right;
}
#titleDive p{
    margin-top: 1%;
    font-family: sans-serif;
}
#titleDive h6{
    margin-top: 1%;
    font-size: large;
}

.firstTitle{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
}

.firstArticle{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    height: fit-content;
}


.footer {
    height: 70px;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
    
 }

 .topLink{
    text-decoration: none;
    color: white;
 }

 .topLink:hover{
     color: black;
 }


@media screen and (max-width:768px) {
 
    header{
        height: fit-content;
    }
    header ul{
        padding: 10px 20px;
        flex-direction: column;
        justify-content: center;
    }
    header ul li{
        border-bottom: 1px solid darkblue;
        text-align: center;
    }
    .roniImage{
        width: 350px;
        height: auto;
    }
}
 @media screen and (max-width:425px) {
     .firstArticle{
         width: fit-content;
     }
     header{
        height: fit-content;
    }
    header ul{
        display: block;
        padding: 8px 90px;
    }
    .bjVideo{
        width: 87%;
    }
} 
